# Default values for netbird.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


global:
  namespace: 'netbird'
  # Domain name used for access, ex netbird.example.com
  domain:
    global: '' # This is the only required domain.  The below ones are optional for if your network topology requires them.
    vpn: ''  # This is the domain used internally by netbird for vpn clients.
    coturn: ''
    signal: ''
    management: ''
    relay: ''
  dashboard:
    port: 80
  management:
    port: 80
    encryption_key: '' # openssl rand -base64 32
  relay:
    port: 80
    secret: ''
  signal:
    port: 80
  coturn:
    enabled: false
    port: 3478
    secret: ''
    # Defines port range for media exchange
    min_port: 49160
    max_port: 49200

  ingress:
    enabled: false
    className: ''
    annotations: {}
    extra_hosts: []

  route:
    enabled: false
    vendor: ''
    parentRefs: []
    # Relay likely uses a different port in the gateway, so you can specify a different parent ref here
    relayParentRefs: []
    annotations: {}

  serviceAccount:
    create: true
    automount: true
    annotations: { }
    name: ""


dashboard:
  image:
    repository: netbirdio/dashboard
    tag: v2.28.0
    pullPolicy: IfNotPresent
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  replicaCount: 1
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
    annotations: {}
  extra_volumes: []
  extra_volumeMounts: []


management:
  image:
    repository: netbirdio/management
    tag: 0.64.1
    pullPolicy: IfNotPresent
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  replicaCount: 1
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
    annotations: {}
  extra_volumes: []
  extra_volumeMounts: []
  extra_args: []
  persistence:
    enabled: true
    storageClass:
    volumeName: 'data'
    existingClaim: ''
    dataDir: /var/lib/netbird
    mountPath: /var/lib/netbird
    configMountPath: /etc/netbird/management.json
    subPath: ''
    accessModes:
      - ReadWriteOnce
    size: 1Gi
    volumeMode:
    annotations: {}
    labels: {}
    selector: {}
    dataSource: {}


relay:
  image:
    repository: netbirdio/relay
    tag: 0.64.1
    pullPolicy: IfNotPresent
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  replicaCount: 1
  resources: {}
  service:
    type: ClusterIP
    annotations: {}
  extra_volumes: []
  extra_volumeMounts: []
  extra_env: {}


signal:
  image:
    repository: netbirdio/signal
    tag: 0.64.1
    pullPolicy: IfNotPresent
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  replicaCount: 1
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
    annotations: {}
  extra_volumes: []
  extra_volumeMounts: []
  persistence:
    enabled: true
    storageClass:
    volumeName: 'data'
    existingClaim: ''
    mountPath: /var/lib/netbird
    subPath: ''
    accessModes:
      - ReadWriteOnce
    size: 1Gi
    volumeMode:
    annotations: {}
    labels: {}
    selector: {}
    dataSource: {}
    overrideVolume:
    overrideVolumeMount:




coturn:
  image:
    repository: coturn/coturn
    tag: 4.7.0
    pullPolicy: IfNotPresent
  annotations: {}
  labels: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  replicaCount: 1
  resources: {}
  livenessProbe:
  readinessProbe:
  service:
    type: ClusterIP
    annotations: {}
  extra_volumes: []
  extra_volumeMounts: []


