---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "netbird.fullname" . }}-relay-tcp
  namespace: {{ .Values.global.namespace }}
    {{- with .Values.relay.service.annotations }}
  annotations:
      {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    netbird-app: {{ include "netbird.fullname" . }}-relay
      {{- include "netbird.labels" . | nindent 4 }}
spec:
  type: {{ .Values.relay.service.type }}
  ports:
    - name: http
      targetPort: http
      protocol: TCP
      port: {{ .Values.global.relay.port }}
  selector:
    netbird-app: {{ include "netbird.fullname" . }}-relay
      {{- include "netbird.selectorLabels" . | nindent 4 }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "netbird.fullname" . }}-relay-udp
  namespace: {{ .Values.global.namespace }}
  {{- with .Values.relay.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    netbird-app: {{ include "netbird.fullname" . }}-relay
    {{- include "netbird.labels" . | nindent 4 }}
spec:
  type: {{ .Values.relay.service.type }}
  ports:
    - name: relay
      targetPort: relay
      protocol: UDP
      port: {{ .Values.global.relay.port }}
  selector:
    netbird-app: {{ include "netbird.fullname" . }}-relay
    {{- include "netbird.selectorLabels" . | nindent 4 }}
