apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "netbird.fullname" . }}-config
  namespace: {{ .Values.global.namespace }}
data:
  management.json: |
    {
      "Stuns": [
        {
          "Proto": "udp",
          "URI": "stun:{{ .Values.global.domain.coturn | default .Values.global.domain.global }}:3478"
        }
      ],
      "Relay": {
        "Addresses": [
          "rels://{{ .Values.global.domain.relay | default .Values.global.domain.global }}:443/relay"
        ],
        "CredentialsTTL": "24h",
        "Secret": "{{ .Values.global.relay.secret }}"
      },
      "Signal": {
        "Proto": "https",
        "URI": "{{ .Values.global.domain.signal | default .Values.global.domain.global }}:443"
      },
      "ReverseProxy": {
        "TrustedHTTPProxies": [],
        "TrustedHTTPProxiesCount": 0,
        "TrustedPeers": [
          "0.0.0.0/0"
        ]
      },
      "Datadir": "{{ .Values.management.persistence.dataDir }}",
      "DataStoreEncryptionKey": "{{ .Values.global.management.encryption_key }}",
      "EmbeddedIdP": {
          "Enabled": true,
          "Issuer": "https://{{ .Values.global.domain.management | default .Values.global.domain.global }}/oauth2",
          "DashboardRedirectURIs": [
              "https://{{ .Values.global.domain.management | default .Values.global.domain.global }}/nb-auth",
              "https://{{ .Values.global.domain.management | default .Values.global.domain.global }}/nb-silent-auth"
          ]
      }
    }
